# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
logs
/main/resources
DLL.sql
build.gradle
build/
logs/
sky_deploy.sh
sky_exe.sh
src/DLL.sql
src/build.gradle
src/build/
src/logs/